<%- include("../partials/head.ejs") %>
<%- include("../partials/menu.ejs") %>
    
<div class="container">
<%- include("../partials/sidebar.ejs") %>

<div class="management-content" id="content">
    

    <div class="dashboard-content">
        <h1>This is dashboard</h1>
</div>
</div>
</div>
 
<%- include("../partials/footer.ejs") %>

