<div class="filter-table">
    <h2>Filter</h2>
    <hr>
    <form>
        <% for (let i=0; i < category.length; i++) { %>
            <div>
                <label><input type="radio" name="cat" value="<%= category[i].name %>" <%
                        if(category[i].name==filterData.cat){%>checked<%} %>><%= category[i].name %></label>
            </div>
            <% } %>
                <hr>
                <p>Max</p>
                <input type="number" id="max" name="max" value="<%= filterData.max%>">
                <p>Min</p>
                <input type="number" id="min" name="min" value="<%= filterData.min%>">
                <hr>
                <div>
                    <label><input type="radio" name="size" value="s" <%if("s"==filterData.size){%>checked <%} %>
                            >sm</label>
                    <label><input type="radio" name="size" value="m" <%if("m"==filterData.size){%>checked <%} %>
                            >m</label>
                    <label><input type="radio" name="size" value="l" <%if("l"==filterData.size){%>checked <%} %>
                            >l</label>
                    <label><input type="radio" name="size" value="xl" <%if("xl"==filterData.size){%>checked <%} %>
                            >xl</label>
                    <label><input type="radio" name="size" value="xxl" <%if("xxl"==filterData.size){%>checked <%} %>
                            >xxl</label>
                    <label><input type="radio" name="size" value="">All</label>

                </div>
                <input type="submit" value="apply" onclick="sendUrl(event,0)">
    </form>

</div>