<div id="loginContainer" class="formContainer">
    <p class="welcome-message">WELCOME BACK</p>
    <h4 class="login-title">Log In to your Account</h4>
    <form id="loginForm">
        <div class="input-group">
            <label for="login-email">email</label>
            <input type="email" id="login-email" name="email" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="login-password">password</label>
            <input type="password" id="login-password" name="password" class="form-control" required>
        </div>
        <a href="/profile/forgotPassword" class="forgot-pass">Forgot Password?</a>
        <input type="submit" value="Login" class="loginButton">

    </form>
    <button class="googleIn"><a href="/log/google"><img src="/icons/google.png" alt="goole" width="20px"
                height="20px"></a></button>
    <!-- <button class="googleIn" id="logG"><img src="/icons/google.png" alt="goole" width="20px" height="20px"></button> -->

    New User?<button type="button" class="btn-1" onclick="openSignupModal()">SIGN UP HERE</button>
    <p id="loginMessage" class="error-message"></p>

</div>