<div id="loginContainer" class="formContainer">
    <p class="welcome-message">WELCOME BACK</p>
    <h4 class="login-title">Log In to your Account</h4>
    <form id="loginForm" >
        <div class="input-group">
            <label for="login-email">email</label>
            <input type="email" id="login-email" name="email" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="login-password">password</label>
            <input type="password" id="login-password" name="password" class="form-control" required>
        </div>
        <a href="/profile/changePassword" class="forgot-pass">Forgot Password?</a>
        <input type="submit" value="Login" class="loginButton">
        <!-- <hr> -->
        <!-- <div class="gooBox">
            <button type="button" class="googleIn"> Login with Google</button>  
            <img src="/icons/google.png" alt="gg" width="10px" height="10px" class="gIcon"> 
        </div> -->

        New User?<button type="button" class="btn-1" onclick="openSignupModal()">SIGN UP HERE</button>
        
        <p id="loginMessage" class="error-message"></p>
    </form>
</div>
