<header class="header">
    <div class="black-box"></div>
    <div class="menu-container">
        <div class="brand-container"><a href="#" class="icon-link"><h2 class="brand-name ">BoyZ</h2></a></div>
        <div><h3><%= pageName %></h3></div>
        <div class="menu-item-container">
            <a href="#" class="material-symbols-outlined icon-link"> account_circle</a>
            <a href="#">signout</a>
        </div>
    </div>
</header> 