<div class="side-bar">
    <p class="side-bar-title">Main Menu</p>
    <a href="/admin/dashboard" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">dashboard</span>
            <span>Dashboard</span>
        </div>
    </a>
    <a href="/admin/users" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">group</span>
            <span>Users</span>
        </div>
    </a>
    <a href="/admin/category" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">category</span>
            <span>Category Managment</span>
        </div>
    </a>
    <a href="/admin/order" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">shopping_cart</span>
            <span>Order Managment</span>
        </div>
    </a>
    <a href="/admin/return" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">shopping_cart</span>
            <span>Return Managment</span>
        </div>
    </a>
    <a href="/admin/coupon" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">category</span>
            <span>Coupon Managment</span>
        </div>
    </a>
    <a href="/admin/product" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">deployed_code</span>
            <span>Product Managment</span>
        </div>
    </a>
    <a href="/admin/add-product" class="side-bar-button">
        <div class="side-bar-text">
            <span class="material-symbols-outlined side-bar-icon">add_circle</span>
            <span>Add Product</span>
        </div>
    </a>
</div>