<div class="side-bar">
    <p class="side-bar-title">Main Menu</p>
    <div class="side-bar-button">
        <span class="material-symbols-outlined side-bar-icon">dashboard</span>
        <a href="/admin/dashboard" class="side-bar-link">Dashboard</a>
    </div>
    <div class="side-bar-button">
        <span class="material-symbols-outlined side-bar-icon">shopping_cart</span>
        <a href="/admin/order" class="side-bar-link">Order Management</a>
    </div>
    <div class="side-bar-button">
        <span class="material-symbols-outlined side-bar-icon">category</span>
        <a href="/admin/category" class="side-bar-link">Category Management</a>
    </div>
    <div class="side-bar-button">
        <span class="material-symbols-outlined side-bar-icon">group</span>
        <a href="/admin/users" class="side-bar-link">Users</a>
    </div>
    <div class="side-bar-button">
        <span class="material-symbols-outlined side-bar-icon">deployed_code</span>
        <a href="/admin/product" class="side-bar-link">Product List</a>
    </div>
    <div class="side-bar-button">
        <span class="material-symbols-outlined side-bar-icon">add_circle</span>
        <a href="/admin/add-product" class="side-bar-link">Add Product</a>
    </div>
</div>