<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error-container {
            display: grid;
            place-items: center;
            height: 100vh;
        }

        .error {
            background-color: antiquewhite;
            padding: 20px 100px;
        }
    </style>
    <script>
        const perfEntries = performance.getEntriesByType( "navigation" );

        if ( perfEntries[ 0 ].type === "back_forward" )
        {
            location.reload();
        }
    </script>
</head>

<body>
    <div class="error-container">
        <div class="error">
            <h1>
                <%= status %>
            </h1>
            <p>
                <%=message %>
            </p>
        </div>
    </div>
</body>

</html>