<%- include("./partials/head.ejs") %>
<%- include("./partials/menu.ejs") %>
    <div class="banner">
        <h2 class="banner-heading"></h2>
        <p class="banner-description"></p>
    </div>
    hello
 
<%- include("./partials/footer.ejs") %>