<%- include("../partials/head.ejs") %>
    <%- include("../partials/menu.ejs") %>

        <div class="flex">
            <div class="profile-contaner">
                <div class="profile-menu">
                    <a class="profile-menu-button" href="/profile">profile</a>
                    <a class="profile-menu-button" href="/order-history">orders</a>
                </div>
                <%- include("../partials/profile.ejs") %>
            </div>

        </div>

        <script src="profile.js"></script>
        <script src="script.js"></script>
        </body>

        </html>